body {
  background-color: #f4eedb;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding-block: 2rem;
  width: min(90%);
  margin-inline: auto;
}

h2 {
  margin: 0.5rem 0 0 0;
  text-transform: capitalize;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  margin: 0.6rem 0 0 0;
  text-transform: capitalize;
  color: #0a4988;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  margin: 0.4rem 0 0 0;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h5 {
  margin: 0.3rem 0 0 0;
  text-transform: capitalize;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: #777;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}

span {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
}

header {
  text-align: center;
  margin-bottom: 3rem;
}

.header_text,
h3 {
  color: #0a4988;
}

.border_line {
  width: 8rem;
  height: 0.2rem;
  background-color: #0a4988;
}

.text_blue_line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.linkedIn {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.8rem;
  cursor: pointer;
}

/* First section styling */

/* First image styling */
.img_card_one {
  position: relative;
  width: 43rem;
  height: 28.375rem;
}

.first_img {
  position: absolute;
  top: -8px;
  left: 8px;
  width: 43rem;
  height: 28.375rem;
}

.card_layer {
  width: 43rem;
  height: 28.375rem;
  border-radius: 10px;
  background: #0a4988;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Second image styling */

.second_img {
  width: 24.375rem;
  height: 24.375rem;
}

/* Third image styling */
.third_img_card {
  position: relative;
  width: 23.375rem;
  height: 32.563rem;
}

.third_img {
  position: absolute;
  top: -7px;
  left: 7px;
  width: 23.375rem;
  height: 32.563rem;
}

.third_card_layer {
  width: 23.375rem;
  height: 32.563rem;
  border-radius: 10px;
  background: #0a4988;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Grid design */
.main_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.one {
  grid-column: 1 / 3;
  margin-right: 3rem;
}

.two {
  grid-column: 3 / 5;
}

.three {
  grid-column: 1 / 3;
  grid-row: 2/4;
  align-self: center;
  justify-self: center;
}

.four {
  grid-column: 3 / 5;
}

.five {
  grid-column: 3 / 5;
}

.six {
  grid-column: 1 / 4;
}

.seven {
  grid-column: 1 / 4;
}

.eight {
  grid-column: 1 / 4;
}

.nine {
  grid-column: 4 / 5;
  grid-row: 4 / 7;
  margin-left: 3rem;
  align-self: center;
}

/* Responsive design */

@media (width <= 80.563rem) {
  main {
    padding-block: 2rem;
    width: min(85%);
    margin-inline: auto;
  }

  h2 {
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h3 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h4 {
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  h5 {
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  p {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  span {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .linkedIn {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 0.8rem;
  }

  .img_card_one {
    position: relative;
    width: 26.145rem;
    height: 17.213rem;
  }

  .first_img {
    position: absolute;
    top: -8px;
    left: 8px;
    width: 26.145rem;
    height: 17.213rem;
  }

  .card_layer {
    width: 26.145rem;
    height: 17.213rem;
    border-radius: 10px;
    background: #0a4988;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .second_img {
    width: 24.375rem;
    height: 24.375rem;
  }

  .third_img_card {
    position: relative;
    width: 13.25rem;
    height: 17.25rem;
  }

  .third_img {
    position: absolute;
    top: -7px;
    left: 7px;
    width: 13.25rem;
    height: 17.25rem;
  }

  .third_card_layer {
    width: 13.25rem;
    height: 17.25rem;
    border-radius: 10px;
    background: #0a4988;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .one {
    grid-column: 1 / 4;
  }

  .three {
    grid-column: 3 / 5;
    /* justify-self: right; */
  }

  .four {
    grid-column: 1 / 4;
  }

  .five {
    grid-column: 1 / 3;
  }

  .two {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
    margin-left: 1rem;
  }

  .six {
    grid-column: 1 / 5;
  }

  .seven {
    grid-column: 1 / 5;
  }

  .eight {
    grid-column: 1 / 4;
  }

  .nine {
    margin-top: 0.7rem;
    grid-column: 4 / 5;
    grid-row: 8 / 9;
    margin-left: 1rem;
  }
}

@media (width <= 875px) {
  main {
    padding-block: 2rem;
    width: min(80%);
    margin-inline: auto;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.375rem;
  }

  h5 {
    font-size: 1.063rem;
  }

  p {
    font-size: 0.8rem;
  }

  span {
    font-size: 0.653;
  }

  .border_line {
    width: 4rem;
  }

  .linkedIn {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 0.8rem;
  }

  .img_card_one {
    position: relative;
    width: 15.125rem;
    height: 10.25rem;
  }

  .first_img {
    position: absolute;
    top: -8px;
    left: 8px;
    width: 15.125rem;
    height: 10.25rem;
  }

  .card_layer {
    width: 15.125rem;
    height: 10.25rem;
    border-radius: 10px;
    background: #0a4988;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .third_img_card {
    position: relative;
    width: 7.813rem;
    height: 10.875rem;
  }

  .third_img {
    position: absolute;
    top: -7px;
    left: 7px;
    width: 7.813rem;
    height: 10.875rem;
  }

  .third_card_layer {
    width: 7.813rem;
    height: 10.875rem;
    border-radius: 10px;
    background: #0a4988;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .three {
    display: none;
  }

  .one {
    grid-column: 1 / 5;
    margin-right: 0rem;
  }

  .two {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    justify-self: center;
    margin-block: 1rem;
  }

  .four {
    margin-top: 0;
    grid-column: 1 / 5;
  }

  .five {
    grid-column: 1 / 5;
  }

  .six {
    grid-column: 1 / 5;
  }

  .seven {
    grid-column: 1 / 5;
  }

  .eight {
    grid-column: 1 / 4;
  }

  .nine {
    grid-column: 4 / 5;
    grid-row: 7 / 8;
    margin-left: 0.2rem;
    align-self: flex-start;
  }
}
